name: Build images for Docker Hub
on: push

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        image:
        - v2-apache
        - v3-nginx

    steps:
    - uses: actions/checkout@v1
      with:
        fetch-depth: 1

    - name: Build ${{ matrix.image }}
      run: docker build ${{ matrix.image }}
           --tag owasp/modsecurity:$(./version.sh ${{ matrix.image }} -v)
           --tag owasp/modsecurity:$(./version.sh ${{ matrix.image }} -vv)
           --tag owasp/modsecurity:$(./version.sh ${{ matrix.image }} -vvv)

    - uses: azure/docker-login@v1
      if: github.ref == 'refs/heads/master'
      with:
        username: ${{ secrets.dockerhub_user }}
        password: ${{ secrets.dockerhub_token }}

    - name: Push ${{ matrix.image }}
      if: github.ref == 'refs/heads/master'
      run: docker push owasp/modsecurity
